/* first for IE 4–8 */
@font-face {
  font-family: DINWeb-Light;
  src: url("../fonts/DINWeb-Light.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: DINWeb-Light;
  src: url("../fonts/DINWeb-Light.woff") format("woff");
}

/* first for IE 4–8 */
@font-face {
  font-family: DINWeb-Bold;
  src: url("../fonts/DINWeb-Bold.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: DINWeb-Bold;
  src: 
  url("../fonts/DINWeb-Bold.woff") format("woff");
}

.DINWeb
{
  font-family: DINWeb-Light, sans-serif;
}

.DINWeb-bold
{
  font-family: DINWeb-Bold, sans-serif;
}

.divider
{
  height: 3px;
  background: black;
  width: 100%;
  margin-bottom: 20px;
}

.start-button
{
  width: 130px;
  height: 130px;
  background: url("../images/start_01.png") no-repeat;
}

.start-button:hover
{
  background: url("../images/start_02.png") no-repeat;
}

.font_color_white
{
  color: white;
}

.bold
{
  font-weight: bold;
}

.bg-image
{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #fff url("../images/background.png") no-repeat;
  background-position: 0px 0px;
  z-index: -1;
}

.hidden
{
  display: none;
}

.left
{
  float: left;
}

.right
{
  float: right;
}

.with-underline
{
  border-bottom: 3px solid black;
}

.background
{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.pages
{
  width: 940px;
  margin: 50px auto 0px;
  padding-bottom: 20px;
  background: rgba(255,255,255,0.5);
  overflow: auto;
}

#gallery .left-column
{
  width: 430px;
}

.logo
{
  margin-bottom: 40px;
}

.page
{
  position: relative;
  width: 940px;
  padding-bottom: 20px;
}

.page .page-wrapper
{
  padding: 10px 20px 0px 20px;
}

.left-column
{
  position: relative;
  width: 380px;
}

#home .left-column
{
  height: 687px;
}

.right-column
{
  padding: 0px 0px 72px 0px;
  width: 460px;
}

ul.page-nav
{
  padding-bottom: 20px;
}

.title
{
  font-weight: bold;
  font-family: DINWeb-Light, sans-serif;
  font-size: 80px;
  text-decoration: none;
  padding-bottom: 0px;
  border-bottom: 5px solid;
}

ul.page-nav li a
{
  font-weight: bold;
  font-size: 12px;
  color: #777777;
  font-family: DINWeb-Bold, sans-serif;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 2px solid #777777;
}

ul.page-nav li:last-child a
{
  border: none;
  padding-right: 0px;
  margin-right: 0px;
}

.description
{
  font-family: DINWeb-Light, sans-serif;
  font-size: 18px;
}

.description.small-description
{
  text-transform: uppercase;
  font-size: 15px;
  line-height: 23px !important;
}

.white
{
  color: white;
}

.black
{
  color: black !important;
}

.black
{
  color: black;
}

#home .description
{
  margin: 20px 0px;
  line-height: 30px;
}

canvas
{
  width: 460px;
  height: 650px;
  background: white;
}

.bottom-left
{
  position: absolute;
  left: 0px;
  bottom: 5px;
}

.left-column
{
  height: auto;
}

ul .number
{
  position: relative;
  left: 10px;
  margin-right: 60px;
}

ul .number, ul .heading
{
  font-size: 30px;
  text-decoration: underline;
}

#process .left-column
{
  width: 420px;
}

#process .right-column
{
  padding: 0px;
  width: 450px;
}

#process .process-diagram
{
  margin-top: 50px;
}

#process .right-column ul li:last-child
{
  border: none;
}

.process-description
{
  display: block;
  margin-top: 50px;
  font-family: DINWeb-Light, sans-serif;
  line-height: 23px;
}

#process .right-column ul li
{
  width: 100%;
  height: 55px;
  padding: 25px 0px 0px;
  border-bottom: 3px solid black;
}

.gallery-examples
{
  width: 928px;
  margin-top: 40px;
}

.gallery-examples li
{
  width: 210px;
  height: 280px;
  background-color: #999;
  margin: 0px 20px 20px 0px;
}

#delivery .right-column img
{
  margin-top: 60px;
}

.nav-views 
{
  position: relative;
  height: 381px;
}

.nav-views .fixed-nav
{
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.nav-views .fixed-nav a
{
  font-size: 30px;
  color: #000;
}

.nav-views .fixed-nav a:first-child
{
  margin-right: 5px;
  padding-right: 10px;
  border-right: 3px solid #000;
}

.date-set
{
  margin-bottom: 2px;
}

.date-set span
{
  padding: 0px 15px 0px 5px;
}

.color-set .date-title
{
  padding: 0px 15px 0px 5px;
  margin-top: 3px;
}

.date-set span, .color-set span
{
  font-size: 15px;
  color: #000;
}

.date-selector .select-container
{
  position: relative;
}

.date-selector .select-container:last-child
{
  margin-right: 0px;
}

.date-title
{
  margin-right: 5px;
  padding-top: 8px !important;
  text-transform: uppercase;
}

select.days, select.months
{
  width: 60px;
}

select.years
{
  width: 100px;
}

select
{
  height: 30px;
  font-size: 23px;
  background: transparent;
  padding-left: 20px;
  color: #000;
  font-size: 19px;
  margin-right: 5px;
  border: 1px solid white;
  border-radius: 0px;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.color-set .color-container
{
  width: 60px;
  height: 30px;
  position: relative;
  margin: 0px 5px 5px 0px;
}

.color-set .title
{
  padding: 8px 15px 0px 5px;
}

.color-set .color-container input
{
  width: 74px;
  height: 47px;
}

.color-set .color-container .date-num
{
  display: block;
  position: absolute;
  top: 8px;
  width: 100%;
  text-align: center;
  pointer-events: none;
  text-shadow: 0px -1px #777;
  z-index: 1;
  font-size: 19px;
  color: white;
}

.color-selector
{
  width: 358px;
}

.controls
{
  position: relative;
  width: 304px;
  z-index: 1;
}

.controls .control
{
  background-color: rgba(0,0,0,0.2);
  border-radius: 3px;
}

.controls .small-control
{
  position: relative;
  width: 150px;
  height: 57px;
  margin: 0px 2px 2px 0px
}

.controls .large-control
{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 152px;
  height: 116px;
}

.controls .primary
{
  background-color: #f15a24;
  margin-top: 0px;
  font-weight: normal;
  font-size: 15px;
}

.controls .type
{
  display: block;
  font-size: 13px;
  padding: 8px 0px 0px 4px;
}

.controls .large-control .type
{
  padding-top: 8px;
}

.controls a
{
  position: absolute;
}

.scale-down 
{
  left: 55px;
  top: 7px;
}

.scale-up
{
  left: 106px;
  top: 7px;
}

.rotate-clock
{
  left: 55px;
  bottom: 8px;
}

.rotate-anticlock
{
  left: 106px;
  bottom: 8px;
}

.move-up
{
  right: 44px;
  top: 8px;
}

.move-down
{
  bottom: 8px;
  right: 44px;
}

.move-left
{
  right: 76px;
  top: 39px;
}

.move-right
{
  right: 12px;
  top: 39px;
}

.note-box
{
  width: 360px;
  position: relative;
  top: 20px;
  padding: 10px;
  margin: 0 auto;
  display: block;
  height: 76px;
  -webkit-appearance: none;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  color: #000;
  z-index: 1000;
  resize: none;
  background: transparent;
  border: 1px solid #fff;
}

.note-box:focus
{
  outline: none;
}

.back-to-top
{
  position: absolute;
  left: 50%;
}
